* {
    border:        none;
    border-radius: 0;
    font-family:   Sans,FontAwesome;
    font-size:     17px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: 0s;
}

window {
    padding: 0 15px;

    
    color:      rgba(215, 216, 216, 0.8);
    background: rgba(35, 31, 32, 0.8);
}
window#waybar.solo {
    color:      rgba(217, 216, 216, 0.8);
    background: rgba(35, 31, 32, 0.8);
}

#workspaces {
    margin: 0px;
}

#workspaces button {
    padding:    0 3px;
    color:      rgba(217, 216, 216, 0.4);
    min-width: 20px
}

#workspaces button.visible {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    border-top: 3px solid rgba(33, 150, 243, 1);
    border-bottom: 3px solid rgba(217, 216, 216, 0);
}


#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#mode, #tray, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-spotify, #custom-weather, #custom-mail {
    margin:     0px 14px 0px 0px;
    min-width:  10px;
}

#clock {
    margin:     0px 16px 0px 10px;
    min-width: 12px;
}

#battery.warning {
   color:       rgba(255, 210, 4, 1);
}

#battery.critical {
    color:      rgba(238, 46, 36, 1);
}

#battery.charging {
    color:      rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color:      rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color:      rgba(238, 46, 36, 1);
}

